* {
    box-sizing: border-box;
  }
  
  /* Remove margin and padding for all elements */
  body,
  html {
    margin: 0;
    padding: 0;
  }
  
  /* Set a base font size for the document */
  html {
    font-size: 16px;
  }
  
  /* Set default styles for body */
  body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
    color: #ffff; /* Set default text color */

    background-color: #131215;
  }
  ul{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  /* Remove list styling */
  ul,
  ol {
    list-style: none;
  }
  
  /* Remove underlines from links */
  a {
    text-decoration: none;
    color: inherit; /* Inherit text color */
  }
  
  /* Remove default styles on headings */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  /* Remove default styles on form elements */
  input, button, textarea, select {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
  }
  
  /* Remove default styles on tables */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  img{
    height: auto ;
    width: 10%;

  }

  .container{
     
    width: 1200px;

    max-width: 90%;

    margin: auto;

  }

  .cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: calc(100vh - 140px);
  }