.cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 6rem;
}
.buttonWrapper{
    margin-bottom: 15px;
    display: flex;
    margin-top: -62px;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    max-width: 90%;
}
.buttonWrapper button{
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
}


.buttonWrapper img{
    background-color: #1C191C;
    height: 34px;
    width: 44px;
    /* border: none; */
    outline: none;
    padding: 5px;
}

.active{
    background-color: #256EFF;
}

.bottomParagraph {
    color: #c4c5c5;
    width: 70%;
    font-size: 10px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}